.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: rgb(3, 35, 35);
}

.email-form {
    flex-direction: column;
    width: 50%;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 2rem;
    background-color: ghostwhite;
}

@media (max-width:576px) {
    .email-form {
        width: 100%;
        padding: 2rem;
    }
}

label {
    font-weight: 600;
    font-size: 18px;
    display: inline;
}

input {
    height: 1.6rem;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(235, 246, 250);
    border: 1px solid;
    border-radius: 5px;
}

input[type=checkbox] {
    height: 16px;
    width: 20px;
}

input[type=button] {
    padding: 5px 20px;
    height: 30px;
    width: auto;
}

.errMsg {
    font-size: 16px;
    color: red;
    font-weight: 500;
    margin: 0px;
}